div#authorization_box,div#auth_confirm {
    marguin:0 auto;
    overflow:hidden;
}

.wapper {
    width:100%;
    height:100%;
}
.left-background {
    /*background-color: #ded380;*/
    background: url(/static/image/1.png)no-repeat;
    width:80%;
    height:100%;
    background-size:100% 100%;
    display:inline;
    float:left
}

.rigth-login-wapper {
    width:20%;
    height:100%;
    display:inline;
    float:left;
}

.login {
    position: relative;
    top: 50%;

    width: 100px;
    height: 100px;
}