<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Content-language" content="zh-CN"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="applicable-device" content="pc">

    <title>登录</title>
    <meta name="description" content="整合所有资源"/>
    <meta name="keywords" content="寻屋"/>
    <link href="/static/css/index.css" rel='stylesheet' type='text/css'/>

</head>
<body>
<div class="wapper">
    <div class="left-background">
    </div>

    <div class="rigth-login-wapper">
        <div class="login">
            <!-- 头部提示信息 -->
            <div class="logD logDtip">
                登录
            </div>
            <!-- 输入框 -->
            <div class="lgD">
                <input type="text"
                       placeholder="输入用户名"  name="userAccount" id="userAccount" value=""/>
            </div>

            <div class="lgD">
                <input type="password" placeholder="输入用户密码" name="userPwd" id="userPwd  "/>
            </div>
            <div class="logC">
                <a href="#" id="loginButton"><button id="submit">登 录</button></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/index.js"></script>

</body>
</html>

